less==0.1
nvidia-cublas-cu12==12.1.3.1
platformdirs==4.4.0
nvidia-nvtx-cu11==11.8.86
nvidia-cuda-nvrtc-cu11==11.8.89
nvidia-cudnn-cu12==9.1.0.70
pyparsing==3.2.5
nvidia-cuda-cupti-cu12==12.1.105
sentencepiece==0.2.0
pip==25.2
lit==18.1.8
typing_extensions==4.15.0
fsspec==2025.9.0
requests==2.32.5
gitdb==4.0.12
nvidia-cufile-cu12==1.11.1.6
MarkupSafe==2.1.5
fastchat==0.1.0
pandas==2.2.3
nvidia-nvtx-cu12==12.1.105
protobuf==6.32.1
parso==0.8.5
GitPython==3.1.45
safetensors==0.6.2
bitsandbytes==0.39.1
bitsandbytes==0.48.2.dev0
aiohappyeyeballs==2.6.1
jedi==0.19.2
wcwidth==0.2.14
propcache==0.4.0
jiter==0.11.0
networkx==3.3
nvidia-cuda-cupti-cu11==11.8.87
charset-normalizer==3.4.3
sniffio==1.3.1
decorator==5.2.1
optimum==1.25.3
yarl==1.22.0
mpmath==1.3.0
pycryptodomex==3.23.0
nvidia-cusparse-cu12==12.1.0.106
pytokens==0.1.10
matplotlib==3.10.3
texttable==1.7.0
transformers==4.57.3
huggingface-hub==0.35.3
ipython_pygments_lexers==1.1.1
pyzstd==0.18.0
scipy==1.16.2
xxhash==3.6.0
tqdm==4.67.1
torch==2.5.1+cu121
datasets==4.1.1
urllib3==2.5.0
six==1.17.0
executing==2.2.1
setuptools==80.1.0
nvidia-nvjitlink-cu12==12.6.85
contourpy==1.3.3
hf-xet==1.1.10
multivolumefile==0.2.3
pydantic==2.11.10
pillow==11.3.0
tabulate==0.9.0
ml_dtypes==0.5.1
nvidia-cufft-cu11==10.9.0.58
accelerate==1.12.0
multiprocess==0.70.16
httpcore==1.0.9
smmap==5.0.2
triton==3.1.0
pyarrow==21.0.0
regex==2025.9.18
appdirs==1.4.4
click==8.3.0
idna==3.10
pyppmd==1.2.0
pybcj==1.0.6
sympy==1.13.1
fast_jl==0.1.3
python-dateutil==2.9.0.post0
nvidia-nccl-cu12==2.21.5
mypy_extensions==1.1.0
fire==0.7.0
pathspec==0.12.1
matplotlib-inline==0.1.7
certifi==2025.8.3
stack-data==0.6.3
httpx==0.28.1
trak==0.1.2
multidict==6.7.0
attrs==25.4.0
annotated-types==0.7.0
openai==1.79.0
psutil==7.0.0
distro==1.9.0
Pygments==2.19.2
loralib==0.1.2
asttokens==3.0.0
prompt_toolkit==3.0.52
pfzy==0.3.4
termcolor==3.1.0
tzdata==2025.2
nvidia-cusparse-cu11==11.7.5.86
pexpect==4.9.0
cmake==4.1.0
sentry-sdk==2.48.0
ipython==9.6.0
nvidia-cusparselt-cu12==0.6.3
traker==0.1.3
nvidia-cusolver-cu12==11.4.5.107
nvidia-cufft-cu12==11.0.2.54
torchaudio==2.5.1+cu121
nvidia-nccl-cu11==2.21.5
nvidia-curand-cu11==10.3.0.86
wandb==0.23.1
numpy==1.26.4
ptyprocess==0.7.0
pure_eval==0.2.3
inflate64==1.0.3
pydantic_core==2.33.2
py7zr==1.0.0
traitlets==5.14.3
anyio==4.11.0
nvidia-cudnn-cu11==9.1.0.70
tokenize_rt==6.2.0
less==0.1
Jinja2==3.1.4
shortuuid==1.0.13
frozenlist==1.8.0
packaging==25.0
nvidia-cuda-nvrtc-cu12==12.1.105
h11==0.16.0
Brotli==1.1.0
aiohttp==3.12.15
cycler==0.12.1
nvidia-cuda-runtime-cu11==11.8.89
PyYAML==6.0.2
fonttools==4.60.1
tokenizers==0.22.1
dill==0.4.0
nvidia-cuda-runtime-cu12==12.1.105
aiosignal==1.4.0
filelock==3.19.1
nvidia-cublas-cu11==11.11.3.6
nvidia-cusolver-cu11==11.4.1.48
inquirerpy==0.3.4
torchvision==0.20.1+cu121
wheel==0.45.1
kiwisolver==1.4.9
peft==0.18.0
pytz==2025.2
typing-inspection==0.4.2
nvidia-curand-cu12==10.3.2.106
black==25.9.0
packaging==24.2
backports.tarfile==1.2.0
jaraco.collections==5.1.0
autocommand==2.2.2
importlib_metadata==8.0.0
inflect==7.3.1
tomli==2.0.1
jaraco.text==3.12.1
zipp==3.19.2
jaraco.context==5.3.0
typeguard==4.3.0
typing_extensions==4.12.2
platformdirs==4.2.2
wheel==0.45.1
jaraco.functools==4.0.1
more-itertools==10.3.0
